 /* Setup */
 @import 'setup/vars';
 @import 'setup/typography';

 /* Base */

 @import 'base/base';
 @import 'base/helpers';
 @import 'base/layout';
 @import 'base/forms';


 /* Components */
 @import 'cmps/toy-index';
 @import 'cmps/app-header';
 @import 'cmps/toy-list';
 @import 'cmps/toy-preview';
 @import 'cmps/price-chart';
 @import 'cmps/toy-filter';
 @import 'cmps/toy-sort';
 @import 'cmps/toy-details';
 @import 'cmps/toy-edit';
 @import 'cmps/login-signup';


 .app {
     display: flex;
     flex-direction: column;
     min-height: 100vh;
 }

 .app>* {
     width: 100%;
 }

 main {
     flex-grow: 1;
 }