/* Setup */
@import 'setup/vars.css';
@import 'setup/typography.css';

/* Base */
@import 'base/base.css';
@import 'base/helpers.css';
@import 'base/layout.css';
@import 'base/forms.css';


/* Components */
@import 'cmps/toy-index.css';
@import 'cmps/app-header.css';
@import 'cmps/toy-list.css';
@import 'cmps/toy-preview.css';
@import 'cmps/price-chart.css';
@import 'cmps/toy-filter.css';
@import 'cmps/toy-sort.css';
@import 'cmps/toy-details.css';
@import 'cmps/toy-edit.css';



.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.app > * {
    width: 100%;
}

main {
    flex-grow: 1;
}