/* Setup */
@import 'setup/vars.css';
@import 'setup/typography.css';

/* Base */
@import 'base/base.css';


/* Components */
@import 'cmps/toyIndex.css';



.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.app > * {
    width: 100%;
}

main {
    flex-grow: 1;
}