.toy-filter-container {
    /* width: 500px; */
    margin-top: 1em;
    padding: 1em;
    border-radius: 1em;
    align-items: baseline;
    gap: 3em;
    color: $clr7;
    &>* label {
        margin-left: 1em;
    }
}
