.toy-edit button {
    background-color: $clr6;
    padding: .5em;
    border: none;
    border-radius: .3em;
    margin: .2em;

    &:hover {
        background-color: $clr7;
        color: $clr3;
    }
}