.toy-preview {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1em;
    padding: 1em;
    background-color: $clr6;
    border-radius: .5em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: .4s;

    &.preview-img {
        max-width: 100px;
    }

    & button {
        background-color: $clr4;
        padding: .5em;
        border: none;
        border-radius: .3em;
        margin: .2em;

        &:hover {
            background-color: $clr7;
            color: $clr1;
        }
    }


    &:hover {
        scale: 1.04;
    }

    
    & h4{
        color: $clr7;
    }


}