
  $clr1: #ece8d5 ;
  $clr2: #12ae7f;

  //--clr1bg
  $clr3: #b59680;
  //--clr1bg-light
  $clr4:#e6ddca;

  //--clr2bg
  $clr5: rgb(214, 114, 114);

  //--clr2bg-light
  $clr6:#e0b48f;

  //--clr4bg
  $clr7: #987053;

  //--clr5bg
  $clr8: #744e33;

  //--gray 1,2,3
  $gray1: rgb(240, 240, 240);
  $gray2: rgb(155, 155, 155);
  $gray3: rgb(44, 44, 44);

