:root {
  --clr1: #ece8d5 ;
  --clr2: #12ae7f;

  --clr1bg: #b59680;
  --clr1bg-light:#e6ddca;
  --clr2bg: rgb(214, 114, 114);
  --clr2bg-light:#e0b48f;
  --clr4bg: #987053;
  --clr5bg: #744e33;

  --gray1: rgb(240, 240, 240);
  --gray2: rgb(155, 155, 155);
  --gray3: rgb(44, 44, 44);

} 