.flex {
    display: flex;


    & .wrap {
        flex-wrap: wrap;
    }

    & .flex-column {
        flex-direction: column;
    }

    &.justify-center {
        justify-content: center;
    }

    &.justify-between {
        justify-content: space-between;
    }

    &.justify-around {
        justify-content: space-around;
    }

    &.align-center {
        align-items: center;
    }
}

/* text helpers */

.colored-text {
    color: $clr1;
}

/* list helpers */

.clean-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

/* font awsome */

.fa {
    font-family: fa;


    &.fa-facebook::before {
        content: "\f39e";
    }

    &.fa-twitter::before {
        content: "\f099";
    }

    &.fa-dribbble::before {
        content: "\f17d";
    }

    &.fa-behance::before {
        content: "\f1b4";
    }
}

.in-stock {
    color: rgb(0, 162, 0);
    font-family: Arial, Helvetica, sans-serif;
}

.out-stock {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(238, 77, 77)
}